.wrong{
    color: red;
}
.right{
    color: green;
}
.hidden{
    visibility: hidden;
}
/* html, body, .background{
    width: 100%;
    height: 100%;
} */
/* .background{
    background-image: url("../images/mainSplash.png");
    background-repeat: no-repeat;
    z-index: 1;
} */